.ft-menu{
    display: flex;
    list-style: none;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.207), rgb(0, 0, 0)), url(/projeto.trip/imagens/imgHome/america-do-sul.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
}
nav .container{
    font-size: 1.8em;
}
#brasil{
    background: linear-gradient(rgba(0, 0, 0, 0.373), rgba(0, 0, 0, 0.586)), url(/projeto.trip/imagens/img-pg-america-sul/brasil.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
}
#argentina{
    background: linear-gradient(rgba(0, 0, 0, 0.373), rgba(0, 0, 0, 0.586)), url(/projeto.trip/imagens/img-pg-america-sul/argentina-botao.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
}
#colombia{
    background: linear-gradient(rgba(0, 0, 0, 0.373), rgba(0, 0, 0, 0.586)), url(/projeto.trip/imagens/img-pg-america-sul/colombia-botao.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
}
#chile{
    background: linear-gradient(rgba(0, 0, 0, 0.373), rgba(0, 0, 0, 0.586)), url(/projeto.trip/imagens/img-pg-america-sul/chile-botao.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
}
#peru{
    background: linear-gradient(rgba(0, 0, 0, 0.373), rgba(0, 0, 0, 0.586)), url(/projeto.trip/imagens/img-pg-america-sul/peru-botao.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
}